body {
  margin:0;
  padding:0;
}
h2 {
  margin:50px;
}
#redbox {
  background-color:red;
  top:50px;
}
#redbox, #bluebox {
  width: 50px;
  height: 50px;
  position: absolute;
}
#bluebox {
  background-color: blue;
  left:0;
}
.overlay {
  width:600px;
  height:300px;
  text-align: center;
  background-color: rgba(0,0,0,.7);
  position: absolute;
  z-index: 1;
  color:white;
}
.overlay button {
  margin-right:10px;
  border:none;
  border-radius: 3px;
  padding:10px;
  font-family: sans-serif;
  color:white;
  font-size: large;
  background-color: #85b6ff;
  cursor: pointer;
}
.pause button {
  margin-top:20%;
}
.nodisplay {
  display:none;
}
#board {
  width: 600px;
  height: 300px;
  border:1px solid black;
  display:inline-block;
  overflow:hidden;
  background-color:#c1ffd7;
}
.scoreboard {
  height:300px;
  margin-left:10px;
  border:1px solid black;
  text-align:center;
  color:white;
  background-color: grey;
  display:inline-block;
  vertical-align: top;
}
.scoreboard-item {
  padding:50px;
}
#player {
  width:10px;
  height:10px;
  background-image: url('./images/greenfish.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*border-radius: 100%;*/
  position: absolute;
  left:350px;
  top:200px;
}

.collided {
  border: 1px solid yellow;
}
.npc {
  position: absolute;
  width:50px;
  height:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bluefish {
  background-image: url('./images/twofish.gif');
}
.greenfish {
  background-image: url('./images/greenfish.gif');
}
.yellowfish {
  background-image: url('./images/yellowfish.gif');
}
.seahorse {
  background-image: url('./images/seahorse.gif');
}
.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/*.npc::after{
  display:block;
  content:'test';
  background-color:green;
}*/
